.inline-block{
    height: 20px;
}
.white-text{
    color:white;
    padding: 5px;
}
.logo{
    width: 15%;
    padding: 1%;
    background: black;
    float: left;
}
.navigation{
    display: flex;
    justify-content: center;
    background: black;
    padding:1%;
    height: 75px;
    
}
.heroImg{
    padding: 25px;
    align-content: left;
}
.content{
    width: 500px;
    margin:0 auto;
    float: left;
    padding: 50px 300px;
}
.footer{
    background-color: black;
}
.body{
    background-color:teal;
}
.main{
    display: flex;
    flex-direction:column;
}
.row{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.button{
    background-color: rgb(215, 157, 11);
    color: white;
    text-decoration: none;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    font-family:
}
@font-face {
    font-family: eastwood_2;
    src: url (eastwood_ttf);
}
* {
    font-family: eastwood_2;
}