.inline-block{
    height: 20px;
}
.white-text{
    color:white;
    padding: 5px;
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}
.logo{
    width: 15%;
    padding: 1%;
    background: black;
}
.navigation{
    display: flex;
    background: black;
    padding:1%;
    height: 75px;
}
.heroImg{
    padding: 25px;
    align-content: left;
}

.flex-container{
    display: flex;
    flex-direction: column;
    padding: 50px 300px;
    grid-template-columns: 200px 50%;
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}
.footer{
    background-color: black;
}
.main{
    display: flex;
    flex-direction:column;
    border-style: solid black;
}
.row{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.button{
    background-color: rgb(215, 157, 11);
    color: white;
    text-decoration: none;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    justify-content: right; 

}
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  .name {
    border-style: solid black;
    border-width: 20px;

  }

  





